.container {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(223,211,211,1) 50%, rgba(198,14,226,1) 100%);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.navbar .left {
  text-align: center;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  font-size: 18px;
}

.navbar .left, .navbar .right {
  display: flex;
  align-items: center;
}

.navbar .left a:first-child {
    margin-left: 0;
}

.navbar .right a:last-child {
  margin-right: 0;
}

.content {
  padding-top: 80px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
